<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <h3>Авторизация</h3>
    <div>

        <div>
            <label>
                <input type="email" maxlength="128" minlength="4" placeholder="Email" required>
            </label>
        </div>

        <div>
            <label>
                <input type="password" minlength="6" placeholder="Password" required>
            </label>
        </div>

    </div>
</form>
</body>
</html>